.wp-block-jdrf-long-form-text .wp-block-freeform {
  padding: 8px; }

.mce-btn.mce-active button, .mce-btn.mce-active:hover button, .mce-btn.mce-active i, .mce-btn.mce-active:hover i {
  color: #23282d !important; }

.fx-classic-editor-toggle {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-top: none;
  padding: 6px 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .fx-classic-editor-toggle button {
    border-radius: 2px !important;
    padding: 6px 7px;
    border: 1px solid transparent; }
    .fx-classic-editor-toggle button:hover {
      background: #f5f5f5 !important;
      box-shadow: none !important;
      border: 1px solid #000; }

.fx-classic-editor-wrap .editor-plain-text {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .fx-classic-editor-wrap .editor-plain-text textarea {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-family: Menlo,Consolas,monaco,monospace; }
