.wp-block-jdrf-long-form-text .wp-block-freeform {
	padding: 8px; // Image resize handles are clipped for floated images.
}

.mce-btn.mce-active button, .mce-btn.mce-active:hover button, .mce-btn.mce-active i, .mce-btn.mce-active:hover i {
	color: #23282d !important;
}

.fx-classic-editor-toggle {
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
}